<!-- Author: Kevin2li -->
<!-- Github: https://github.com/kevin2li/Kevin-Anki-Templates -->

<script src="__anki-persistence.js"></script>
<script src="__keyboard.min.js"></script>
<div id='q_div'>{{Front}}</div>
<hr id=answer>
<div id='a_div'>
{{Back}}
</div>

<script type="text/javascript">
    var cloze_regex = /\[\[c(\d+)::(.*?)\]\]/gm;
    var mask = "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;";
    var idx = 0;
    var cloze_ids = new Array();
    if (Persistence.isAvailable()) {
        idx = Persistence.getItem("idx");
        cloze_ids = Persistence.getItem("cloze_ids");
    }
    var mode = "{{Mode}}";
    var final_html_content = "";
    switch (mode) {
        case "mask_all_guess_one_multi": {
            let matches;
            let last_pos = 0;
            final_html_content = "";
            var q_div = document.getElementById("q_div");
            const text = q_div.innerHTML;
            const target_index = "{{Index}}";
            while ((matches = cloze_regex.exec(text)) !== null) {
                let index = matches[1];
                let content = matches[2];
                let start = matches.index;
                let end = start + matches[0].length;
                if (start >= last_pos) {
                    let pos = Math.max(0, last_pos - 1);
                    final_html_content += `${text.slice(pos, start)}`
                }
                let cloze_id = `c${index}`;
                let span = document.createElement("span");
                span.setAttribute("cloze_id", cloze_id);
                span.setAttribute("cloze_text", content);
                if (cloze_id === target_index) {
                    span.className = "cloze-show";
                    span.innerHTML = content;
                } else {
                    span.className = "cloze-hide2";
                    span.innerHTML = mask;
                }
                final_html_content += span.outerHTML;
                last_pos = end + 1;
            }
            if (text.length >= last_pos) {
                let pos = Math.max(0, last_pos - 1);
                final_html_content += `${text.slice(pos, text.length)}`
            }
            q_div.innerHTML = final_html_content;
            document.querySelectorAll(".cloze-hide, .cloze-show").forEach(ele => {
                let cloze_id = ele.getAttribute("cloze_id");
                ele.onclick = () => {
                    [].forEach.call(q_div.querySelectorAll(`span[cloze_id=${cloze_id}]`), (ele) => {
                        if (ele.className === 'cloze-hide') {
                            ele.innerHTML = ele.getAttribute("cloze_text");
                            ele.className = "cloze-show";
                        } else {
                            ele.innerHTML = mask;
                            ele.className = "cloze-hide";
                        }
                    })
                }
            });
            document.querySelectorAll(".cloze-hide2, .cloze-show2").forEach(ele => {
                let cloze_id = ele.getAttribute("cloze_id");
                ele.onclick = () => {
                    [].forEach.call(q_div.querySelectorAll(`span[cloze_id=${cloze_id}]`), (ele) => {
                        if (ele.className === 'cloze-hide2') {
                            ele.innerHTML = ele.getAttribute("cloze_text");
                            ele.className = "cloze-show2";
                        } else {
                            ele.innerHTML = mask;
                            ele.className = "cloze-hide2";
                        }
                    })
                }
            });
            break;
        }
        case "mask_one_guess_one_multi": {
            let matches;
            let last_pos = 0;
            final_html_content = "";
            var q_div = document.getElementById("q_div");
            const text = q_div.innerHTML;
            const target_index = "{{Index}}";
            while ((matches = cloze_regex.exec(text)) !== null) {
                let index = matches[1];
                let content = matches[2];
                let start = matches.index;
                let end = start + matches[0].length;
                if (start >= last_pos) {
                    let pos = Math.max(0, last_pos - 1);
                    final_html_content += `${text.slice(pos, start)}`
                }
                let cloze_id = `c${index}`;
                let span = document.createElement("span");
                span.setAttribute("cloze_id", cloze_id);
                span.setAttribute("cloze_text", content);
                if (cloze_id === target_index) {
                    span.className = "cloze-show";
                    span.innerHTML = content;
                    span.onclick = () => {
                        [].forEach.call(q_div.querySelectorAll(`span[cloze_id=${cloze_id}]`), (ele) => {
                            if (ele.className === 'cloze-hide') {
                                ele.innerHTML = ele.getAttribute("cloze_text");
                                ele.className = "cloze-show";
                            } else {
                                ele.innerHTML = mask;
                                ele.className = "cloze-hide";
                            }
                        })
                    }
                } else {
                    // span.className = "cloze-show";
                    span.innerHTML = span.getAttribute("cloze_text");;
                }
                final_html_content += span.outerHTML;
                last_pos = end + 1;
            }
            if (text.length >= last_pos) {
                let pos = Math.max(0, last_pos - 1);
                final_html_content += `${text.slice(pos, text.length)}`
            }
            q_div.innerHTML = final_html_content;
            document.querySelectorAll(".cloze-hide, .cloze-show").forEach(ele => {
                let cloze_id = ele.getAttribute("cloze_id");
                ele.onclick = () => {
                    [].forEach.call(q_div.querySelectorAll(`span[cloze_id=${cloze_id}]`), (ele) => {
                        if (ele.className === 'cloze-hide') {
                            ele.innerHTML = ele.getAttribute("cloze_text");
                            ele.className = "cloze-show";
                        } else {
                            ele.innerHTML = mask;
                            ele.className = "cloze-hide";
                        }
                    })
                }
            });
            break;
        }
        case "mask_one_guess_one": {
            let matches;
            let last_pos = 0;
            final_html_content = "";
            var q_div = document.getElementById("q_div");
            const text = q_div.innerHTML;
            while ((matches = cloze_regex.exec(text)) !== null) {
                let index = matches[1];
                let content = matches[2];
                let start = matches.index;
                let end = start + matches[0].length;
                if (start >= last_pos) {
                    let pos = Math.max(0, last_pos - 1);
                    final_html_content += `${text.slice(pos, start)}`
                }
                let span = document.createElement("span");
                let cloze_id = `c${index}`;
                span.setAttribute("cloze_id", cloze_id);
                span.setAttribute("cloze_text", content);
                if (cloze_ids[idx] === cloze_id) {
                    span.className = "cloze-show";
                    span.innerHTML = content;
                } else {
                    span.innerHTML = span.getAttribute("cloze_text");
                    // span.className = "cloze-show";
                }
                final_html_content += span.outerHTML;
                last_pos = end + 1;
            }
            if (text.length >= last_pos) {
                let pos = Math.max(0, last_pos - 1);
                final_html_content += `${text.slice(pos, text.length)}`
            }
            q_div.innerHTML = final_html_content;
            document.querySelectorAll(".cloze-hide, .cloze-show").forEach(ele => {
                let cloze_id = ele.getAttribute("cloze_id");
                ele.onclick = () => {
                    [].forEach.call(q_div.querySelectorAll(`span[cloze_id=${cloze_id}]`), (ele) => {
                        if (ele.className === 'cloze-hide') {
                            ele.innerHTML = ele.getAttribute("cloze_text");
                            ele.className = "cloze-show";
                        } else {
                            ele.innerHTML = mask;
                            ele.className = "cloze-hide";
                        }
                    })
                }
            });
            // 显示导航
            let nav = document.getElementById("nav");
            nav.style.display = "block";
            let progress = document.getElementById("progress");
            progress.innerHTML = `1/${cloze_ids.length}`;
            break;
        }
        case "mask_all_guess_one": {
            let matches;
            let last_pos = 0;
            final_html_content = "";
            var q_div = document.getElementById("q_div");
            const text = q_div.innerHTML;
            const target_index = "{{Index}}";
            while ((matches = cloze_regex.exec(text)) !== null) {
                let index = matches[1];
                let content = matches[2];
                let start = matches.index;
                let end = start + matches[0].length;
                if (start >= last_pos) {
                    let pos = Math.max(0, last_pos - 1);
                    final_html_content += `${text.slice(pos, start)}`
                }
                let cloze_id = `c${index}`;
                let span = document.createElement("span");
                span.setAttribute("cloze_id", cloze_id);
                span.setAttribute("cloze_text", content);
                if (!cloze_ids.includes(cloze_id)) {
                    cloze_ids.push(cloze_id);
                }
                if (cloze_ids[idx] === cloze_id) {
                    span.className = "cloze-show";
                    span.innerHTML = content;
                } else {
                    span.className = "cloze-hide2";
                    span.innerHTML = mask;
                }
                final_html_content += span.outerHTML;
                last_pos = end + 1;
            }
            if (text.length >= last_pos) {
                let pos = Math.max(0, last_pos - 1);
                final_html_content += `${text.slice(pos, text.length)}`
            }
            q_div.innerHTML = final_html_content;
            document.querySelectorAll(".cloze-hide, .cloze-show").forEach(ele => {
                let cloze_id = ele.getAttribute("cloze_id");
                ele.onclick = () => {
                    [].forEach.call(q_div.querySelectorAll(`span[cloze_id=${cloze_id}]`), (ele) => {
                        if (ele.className === 'cloze-hide') {
                            ele.innerHTML = ele.getAttribute("cloze_text");
                            ele.className = "cloze-show";
                        } else {
                            ele.innerHTML = mask;
                            ele.className = "cloze-hide";
                        }
                    })
                }
            });
            document.querySelectorAll(".cloze-hide2, .cloze-show2").forEach(ele => {
                let cloze_id = ele.getAttribute("cloze_id");
                ele.onclick = () => {
                    [].forEach.call(q_div.querySelectorAll(`span[cloze_id=${cloze_id}]`), (ele) => {
                        if (ele.className === 'cloze-hide2') {
                            ele.innerHTML = ele.getAttribute("cloze_text");
                            ele.className = "cloze-show2";
                        } else {
                            ele.innerHTML = mask;
                            ele.className = "cloze-hide2";
                        }
                    })
                }
            });
            // 显示导航
            let nav = document.getElementById("nav");
            nav.style.display = "block";
            let progress = document.getElementById("progress");
            progress.innerHTML = `1/${cloze_ids.length}`;
            break;
        }
        default: {
            let matches;
            let last_pos = 0;
            final_html_content = "";
            var q_div = document.getElementById("q_div");
            const text = q_div.innerHTML;
            while ((matches = cloze_regex.exec(text)) !== null) {
                let index = matches[1];
                let content = matches[2];
                let start = matches.index;
                let end = start + matches[0].length;
                if (start >= last_pos) {
                    let pos = Math.max(0, last_pos - 1);
                    final_html_content += `${text.slice(pos, start)}`
                }
                let span = document.createElement("span");
                span.className = "cloze-show";
                span.setAttribute("cloze_id", `c${index}`);
                span.setAttribute("cloze_text", content);
                span.innerHTML = content;
                final_html_content += span.outerHTML;
                last_pos = end + 1;
            }
            if (text.length >= last_pos) {
                let pos = Math.max(0, last_pos - 1);
                final_html_content += `${text.slice(pos, text.length)}`
            }
            q_div.innerHTML = final_html_content;
            document.querySelectorAll("span[cloze_id]").forEach(ele => {
                let cloze_id = ele.getAttribute("cloze_id");
                ele.onclick = () => {
                    [].forEach.call(q_div.querySelectorAll(`span[cloze_id=${cloze_id}]`), (ele) => {
                        if (ele.className === 'cloze-hide') {
                            ele.innerHTML = ele.getAttribute("cloze_text");
                            ele.className = "cloze-show";
                        } else {
                            ele.innerHTML = mask;
                            ele.className = "cloze-hide";
                        }
                    })
                }
            });
            break;
        }
    }
</script>