<!-- Author: Kevin2li -->
<!-- Github: https://github.com/kevin2li/Kevin-Anki-Templates -->

<script src="__anki-persistence.js"></script>
<div id='q_div'></div>

<div id="nav" style="display: none;text-align:center">
    <button id="prev" onclick="go_prev()">
        < </button>
            <span id="progress"></span>
            <button id="next" onclick="go_next()">></button>
</div>
<div id="debug"></div>
<script type="text/javascript">
    var cloze_regex = /\[\[c(\d+)::(.*?)\]\]/gm;
    var mask = "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;";
    var idx = 0;
    var cloze_ids = new Array();
    var flags = new Array();
    if (Persistence.isAvailable()) {
        Persistence.setItem("idx", idx);
        Persistence.setItem("cloze_ids", cloze_ids);
    }
    var mode = "{{Mode}}";
    var final_html_content = "";
    function free_guess_init() {
        let matches;
        let last_pos = 0;
        final_html_content = "";
        const text = `{{Front}}`;
        var q_div = document.getElementById("q_div");
        while ((matches = cloze_regex.exec(text)) !== null) {
            let index = matches[1];
            let content = matches[2];
            let start = matches.index;
            let end = start + matches[0].length;
            if (start >= last_pos) {
                let pos = Math.max(0, last_pos - 1);
                final_html_content += `${text.slice(pos, start)}`
            }
            let cloze_id = `c${index}`;
            let span = document.createElement("span");
            span.setAttribute("cloze_id", cloze_id);
            span.setAttribute("cloze_text", content);
            span.innerHTML = mask;
            span.className = "cloze-hide";
            final_html_content += span.outerHTML;
            last_pos = end + 1;
        }
        if (text.length >= last_pos) {
            let pos = Math.max(0, last_pos - 1);
            final_html_content += `${text.slice(pos, text.length)}`
        }
        q_div.innerHTML = final_html_content;
        document.querySelectorAll(".cloze-hide, .cloze_show").forEach(ele => {
            let cloze_id = ele.getAttribute("cloze_id");
            ele.onclick = () => {
                [].forEach.call(q_div.querySelectorAll(`span[cloze_id=${cloze_id}]`), (ele) => {
                    if (ele.className === 'cloze-hide') {
                        ele.innerHTML = ele.getAttribute("cloze_text");
                        ele.className = "cloze-show";
                    } else {
                        ele.innerHTML = mask;
                        ele.className = "cloze-hide";
                    }
                })
            }
        });
    }
    function mask_one_guess_one_multi_init() {
        let matches;
        let last_pos = 0;
        final_html_content = "";
        const text = `{{Front}}`;
        const target_index = "{{Index}}";
        var q_div = document.getElementById("q_div");
        while ((matches = cloze_regex.exec(text)) !== null) {
            let index = matches[1];
            let content = matches[2];
            let start = matches.index;
            let end = start + matches[0].length;
            if (start >= last_pos) {
                let pos = Math.max(0, last_pos - 1);
                final_html_content += `${text.slice(pos, start)}`
            }
            let cloze_id = `c${index}`;
            let span = document.createElement("span");
            span.setAttribute("cloze_id", cloze_id);
            span.setAttribute("cloze_text", content);
            if (cloze_id === target_index) {
                span.className = "cloze-hide";
                span.innerHTML = mask;
            } else {
                span.innerHTML = span.getAttribute("cloze_text");
                // .className = "cloze-show";
            }
            final_html_content += span.outerHTML;
            last_pos = end + 1;
        }
        if (text.length >= last_pos) {
            let pos = Math.max(0, last_pos - 1);
            final_html_content += `${text.slice(pos, text.length)}`
        }
        q_div.innerHTML = final_html_content;
        document.querySelectorAll(".cloze-hide, .cloze_show").forEach(ele => {
            let cloze_id = ele.getAttribute("cloze_id");
            ele.onclick = () => {
                [].forEach.call(q_div.querySelectorAll(`span[cloze_id=${cloze_id}]`), (ele) => {
                    if (ele.className === 'cloze-hide') {
                        ele.innerHTML = ele.getAttribute("cloze_text");
                        ele.className = "cloze-show";
                    } else {
                        ele.innerHTML = mask;
                        ele.className = "cloze-hide";
                    }
                })
            }
        });
    }
    function mask_all_guess_one_multi_init() {
        let matches;
        let last_pos = 0;
        final_html_content = "";
        const text = `{{Front}}`;
        const target_index = "{{Index}}";
        var q_div = document.getElementById("q_div");
        while ((matches = cloze_regex.exec(text)) !== null) {
            let index = matches[1];
            let content = matches[2];
            let start = matches.index;
            let end = start + matches[0].length;
            if (start >= last_pos) {
                let pos = Math.max(0, last_pos - 1);
                final_html_content += `${text.slice(pos, start)}`
            }
            let cloze_id = `c${index}`;
            let span = document.createElement("span");
            span.setAttribute("cloze_id", cloze_id);
            span.setAttribute("cloze_text", content);
            if (cloze_id === target_index) {
                span.className = "cloze-hide";
                span.innerHTML = mask;
            } else {
                span.className = "cloze-hide2";
                span.innerHTML = mask;
            }
            final_html_content += span.outerHTML;
            last_pos = end + 1;
        }
        if (text.length >= last_pos) {
            let pos = Math.max(0, last_pos - 1);
            final_html_content += `${text.slice(pos, text.length)}`
        }
        q_div.innerHTML = final_html_content;
        document.querySelectorAll(".cloze-hide, .cloze_show").forEach(ele => {
            let cloze_id = ele.getAttribute("cloze_id");
            ele.onclick = () => {
                [].forEach.call(q_div.querySelectorAll(`span[cloze_id=${cloze_id}]`), (ele) => {
                    if (ele.className === 'cloze-hide') {
                        ele.innerHTML = ele.getAttribute("cloze_text");
                        ele.className = "cloze-show";
                    } else {
                        ele.innerHTML = mask;
                        ele.className = "cloze-hide";
                    }
                })
            }
        });
        document.querySelectorAll(".cloze-hide2, .cloze_show2").forEach(ele => {
            let cloze_id = ele.getAttribute("cloze_id");
            ele.onclick = () => {
                [].forEach.call(q_div.querySelectorAll(`span[cloze_id=${cloze_id}]`), (ele) => {
                    if (ele.className === 'cloze-hide2') {
                        ele.innerHTML = ele.getAttribute("cloze_text");
                        ele.className = "cloze-show2";
                    } else {
                        ele.innerHTML = mask;
                        ele.className = "cloze-hide2";
                    }
                })
            }
        });
    }
    function mask_all_guess_all_init() {
        let matches;
        let last_pos = 0;
        final_html_content = "";
        const text = `{{Front}}`;
        const target_index = "{{Index}}";
        var q_div = document.getElementById("q_div");
        while ((matches = cloze_regex.exec(text)) !== null) {
            let index = matches[1];
            let content = matches[2];
            let start = matches.index;
            let end = start + matches[0].length;
            if (start >= last_pos) {
                let pos = Math.max(0, last_pos - 1);
                final_html_content += `${text.slice(pos, start)}`
            }
            let span = document.createElement("span");
            span.setAttribute("cloze_id", "c1");
            span.setAttribute("cloze_text", content);
            span.className = "cloze-hide";
            span.innerHTML = mask;
            final_html_content += span.outerHTML;
            last_pos = end + 1;
        }
        if (text.length >= last_pos) {
            let pos = Math.max(0, last_pos - 1);
            final_html_content += `${text.slice(pos, text.length)}`
        }
        q_div.innerHTML = final_html_content;
        document.querySelectorAll(".cloze-hide, .cloze_show").forEach(ele => {
            let cloze_id = ele.getAttribute("cloze_id");
            ele.onclick = () => {
                [].forEach.call(q_div.querySelectorAll(`span[cloze_id=${cloze_id}]`), (ele) => {
                    if (ele.className === 'cloze-hide') {
                        ele.innerHTML = ele.getAttribute("cloze_text");
                        ele.className = "cloze-show";
                    } else {
                        ele.innerHTML = mask;
                        ele.className = "cloze-hide";
                    }
                })
            }
        });
    }
    function mask_one_guess_one_init() {
        let matches;
        let last_pos = 0;
        final_html_content = "";
        const text = `{{Front}}`;
        var q_div = document.getElementById("q_div");
        let match_count = 0;
        while ((matches = cloze_regex.exec(text)) !== null) {
            let index = matches[1];
            let content = matches[2];
            let start = matches.index;
            let end = start + matches[0].length;
            if (start >= last_pos) {
                let pos = Math.max(0, last_pos - 1);
                final_html_content += `${text.slice(pos, start)}`
            }
            let span = document.createElement("span");
            let cloze_id = `c${index}`;
            span.setAttribute("cloze_id", cloze_id);
            span.setAttribute("cloze_text", content);
            if (!cloze_ids.includes(cloze_id)) {
                cloze_ids.push(cloze_id)
            }
            match_count++;
            if (match_count === 1) {
                span.className = "cloze-hide";
                span.innerHTML = mask;
            } else {
                span.innerHTML = span.getAttribute("cloze_text");
                // span.className = "cloze-show";
            }
            final_html_content += span.outerHTML;
            last_pos = end + 1;
        }
        if (text.length >= last_pos) {
            let pos = Math.max(0, last_pos - 1);
            final_html_content += `${text.slice(pos, text.length)}`
        }
        q_div.innerHTML = final_html_content;
        document.querySelectorAll(".cloze-hide, .cloze_show").forEach(ele => {
            let cloze_id = ele.getAttribute("cloze_id");
            ele.onclick = () => {
                [].forEach.call(q_div.querySelectorAll(`span[cloze_id=${cloze_id}]`), (ele) => {
                    if (ele.className === 'cloze-hide') {
                        ele.innerHTML = ele.getAttribute("cloze_text");
                        ele.className = "cloze-show";
                    } else {
                        ele.innerHTML = mask;
                        ele.className = "cloze-hide";
                    }
                })
            }
        });
        // 显示导航
        let nav = document.getElementById("nav");
        nav.style.display = "block";
        let progress = document.getElementById("progress");
        progress.innerHTML = `1/${cloze_ids.length}`;
    }
    function mask_all_guess_one_init() {
        let matches;
        let last_pos = 0;
        final_html_content = "";
        const text = `{{Front}}`;
        const target_index = "{{Index}}";
        var q_div = document.getElementById("q_div");
        let match_count = 0;
        while ((matches = cloze_regex.exec(text)) !== null) {
            let index = matches[1];
            let content = matches[2];
            let start = matches.index;
            let end = start + matches[0].length;
            if (start >= last_pos) {
                let pos = Math.max(0, last_pos - 1);
                final_html_content += `${text.slice(pos, start)}`
            }
            let cloze_id = `c${index}`;
            let span = document.createElement("span");
            span.setAttribute("cloze_id", cloze_id);
            span.setAttribute("cloze_text", content);
            if (!cloze_ids.includes(cloze_id)) {
                cloze_ids.push(cloze_id);
            }
            match_count++;
            if (match_count === 1) {
                span.className = "cloze-hide";
                span.innerHTML = mask;
            } else {
                span.className = "cloze-hide2";
                span.innerHTML = mask;
            }
            final_html_content += span.outerHTML;
            last_pos = end + 1;
        }
        if (text.length >= last_pos) {
            let pos = Math.max(0, last_pos - 1);
            final_html_content += `${text.slice(pos, text.length)}`
        }
        q_div.innerHTML = final_html_content;
        document.querySelectorAll(".cloze-hide, .cloze_show").forEach(ele => {
            let cloze_id = ele.getAttribute("cloze_id");
            ele.onclick = () => {
                [].forEach.call(q_div.querySelectorAll(`span[cloze_id=${cloze_id}]`), (ele) => {
                    if (ele.className === 'cloze-hide') {
                        ele.innerHTML = ele.getAttribute("cloze_text");
                        ele.className = "cloze-show";
                    } else {
                        ele.innerHTML = mask;
                        ele.className = "cloze-hide";
                    }
                })
            }
        });
        document.querySelectorAll(".cloze-hide2, .cloze_show2").forEach(ele => {
            let cloze_id = ele.getAttribute("cloze_id");
            ele.onclick = () => {
                [].forEach.call(q_div.querySelectorAll(`span[cloze_id=${cloze_id}]`), (ele) => {
                    if (ele.className === 'cloze-hide2') {
                        ele.innerHTML = ele.getAttribute("cloze_text");
                        ele.className = "cloze-show2";
                    } else {
                        ele.innerHTML = mask;
                        ele.className = "cloze-hide2";
                    }
                })
            }
        });
        // 显示导航
        let nav = document.getElementById("nav");
        nav.style.display = "block";
        let progress = document.getElementById("progress");
        progress.innerHTML = `1/${cloze_ids.length}`;
    }
    function switch_card() {
        let cloze_id = cloze_ids[idx];
        let q_div = document.getElementById("q_div");
        if (mode === "mask_one_guess_one") {
            [].forEach.call(q_div.querySelectorAll(`span`), (ele) => {
                let cur_cloze_id = ele.getAttribute("cloze_id");
                if (cur_cloze_id) {
                    if (cur_cloze_id === cloze_id) {
                        if(!flags[idx]){
                            ele.innerHTML = mask;
                            ele.className = "cloze-hide";
                        }else{
                            ele.innerHTML = ele.getAttribute("cloze_text");
                            ele.className = "cloze-show";
                        }
                        ele.onclick = () => {
                            [].forEach.call(q_div.querySelectorAll(`span[cloze_id=${cur_cloze_id}]`), (ele) => {
                                if (ele.className === 'cloze-hide') {
                                    ele.innerHTML = ele.getAttribute("cloze_text");
                                    ele.className = "cloze-show";
                                } else {
                                    ele.innerHTML = mask;
                                    ele.className = "cloze-hide";
                                }
                            })
                        }
                    } else {
                        ele.innerHTML = ele.getAttribute("cloze_text");
                        ele.className = "";
                    }
                }
            })
        } else if (mode === "mask_all_guess_one") {
            [].forEach.call(q_div.querySelectorAll(`span`), (ele) => {
                let cur_cloze_id = ele.getAttribute("cloze_id");
                if (cur_cloze_id) {
                    if (cur_cloze_id === cloze_id) {
                        if(!flags[idx]){
                            ele.innerHTML = mask;
                            ele.className = "cloze-hide";
                        }else{
                            ele.innerHTML = ele.getAttribute("cloze_text");
                            ele.className = "cloze-show";
                        }
                        ele.onclick = () => {
                            [].forEach.call(q_div.querySelectorAll(`span[cloze_id=${cur_cloze_id}]`), (ele) => {
                                if (ele.className === 'cloze-hide') {
                                    ele.innerHTML = ele.getAttribute("cloze_text");
                                    ele.className = "cloze-show";
                                } else {
                                    ele.innerHTML = mask;
                                    ele.className = "cloze-hide";
                                }
                            })
                        }
                    } else {
                        ele.innerHTML = mask;
                        ele.className = "cloze-hide2";
                        ele.onclick = () => {
                            [].forEach.call(q_div.querySelectorAll(`span[cloze_id=${cur_cloze_id}]`), (ele) => {
                                if (ele.className === 'cloze-hide2') {
                                    ele.innerHTML = ele.getAttribute("cloze_text");
                                    ele.className = "cloze-show2";
                                } else {
                                    ele.innerHTML = mask;
                                    ele.className = "cloze-hide2";
                                }
                            })
                        }
                    }
                }
            })
        } else if (mode === "mask_half_guess_one") {
            [].forEach.call(q_div.querySelectorAll(`span`), (ele) => {
                let cur_cloze_id = ele.getAttribute("cloze_id");
                if (cur_cloze_id) {
                    let opend_clozes = cloze_ids.slice(0, idx);
                    if (opend_clozes.includes(cur_cloze_id)) {
                        ele.innerHTML = ele.getAttribute("cloze_text");
                        ele.className = "cloze-show";
                        ele.onclick = () => {
                            [].forEach.call(q_div.querySelectorAll(`span[cloze_id=${cur_cloze_id}]`), (ele) => {
                                if (ele.className === 'cloze-hide') {
                                    ele.innerHTML = ele.getAttribute("cloze_text");
                                    ele.className = "cloze-show";
                                } else {
                                    ele.innerHTML = mask;
                                    ele.className = "cloze-hide";
                                }
                            })
                        }
                    } else if (cur_cloze_id === cloze_ids[idx]) {
                        ele.innerHTML = mask;
                        ele.className = "cloze-hide";
                        ele.onclick = () => {
                            [].forEach.call(q_div.querySelectorAll(`span[cloze_id=${cur_cloze_id}]`), (ele) => {
                                if (ele.className === 'cloze-hide') {
                                    ele.innerHTML = ele.getAttribute("cloze_text");
                                    ele.className = "cloze-show";
                                } else {
                                    ele.innerHTML = mask;
                                    ele.className = "cloze-hide";
                                }
                            })
                        }
                    } else {
                        ele.innerHTML = mask;
                        ele.className = "cloze-hide2";
                        ele.onclick = () => {
                            [].forEach.call(q_div.querySelectorAll(`span[cloze_id=${cur_cloze_id}]`), (ele) => {
                                if (ele.className === 'cloze-hide2') {
                                    ele.innerHTML = ele.getAttribute("cloze_text");
                                    ele.className = "cloze-show2";
                                } else {
                                    ele.innerHTML = mask;
                                    ele.className = "cloze-hide2";
                                }
                            })
                        }
                    }
                }
            })
        }
    }
    function go_next() {
        const n = cloze_ids.length;
        if (!flags[idx]) {
            flags[idx] = !flags[idx];
            switch_card();
            return;
        }
        flags[idx] = true;
        idx = (idx + 1) % n;
        flags[idx] = false;
        let progress = document.getElementById("progress");
        progress.innerHTML = `${idx + 1}/${n}`;
        switch_card();
        if (Persistence.isAvailable()) {
            Persistence.setItem("idx", idx);
            Persistence.setItem("flags", flags);
        }
    }
    function go_prev() {
        const n = cloze_ids.length;
        if (!flags[idx]) {
            console.log("hit");
            flags[idx] = !flags[idx];
            switch_card();
            return;
        }
        flags[idx] = true;
        idx = (idx - 1 + n) % n;
        flags[idx] = false;
        let progress = document.getElementById("progress");
        progress.innerHTML = `${idx + 1}/${n}`;
        switch_card();
        if (Persistence.isAvailable()) {
            Persistence.setItem("idx", idx);
            Persistence.setItem("flags", flags);
        }
    }
    document.addEventListener("keyup", (event) => {
        if (event.keyCode === 75 /* 'KeyK' */) {
            go_next();
        } else if (event.keyCode === 74 /* 'KeyJ' */) {
            go_prev();
        }
    });
    switch (mode) {
        case "free_guess": {
            free_guess_init();
            break;
        }
        case "mask_one_guess_one": {
            mask_one_guess_one_init();
            break;
        }
        case "mask_all_guess_one": {
            mask_all_guess_one_init();
            break;
        }
        case "mask_all_guess_all": {
            mask_all_guess_all_init();
            break;
        }
        case "mask_half_guess_one": {
            mask_all_guess_one_init();
            break;
        }
        case "mask_one_guess_one_multi": {
            mask_one_guess_one_multi_init();
            break;
        }
        case "mask_all_guess_one_multi": {
            mask_all_guess_one_multi_init();
            break;
        }
    }
    if (Persistence.isAvailable()) {
        Persistence.setItem("cloze_ids", cloze_ids);
    }
</script>
