:root {
    --yellow: #f67c01;
    --blue: #2097f3;
}

.card {
    font-family: arial;
    font-size: 20px;
    text-align: left;
    color: black;
    background-color: white;
}

#q_div, #a_div {
    font-size: 1.2em;
    color: #333;
    background-color: #fbfbfb;
    border: 2px solid #eee;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    white-space: pre-wrap;
}

#nav{
    margin-top: 1em;
}
.nav_btn {
    padding: 4px;
    font-size: 16px;
    min-width: 2em;
    color: #fff;
    background-color: #eee;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0 5px;
}

.nav_progress {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}

.cloze-hide {
    font-weight: bold;
    color: var(--blue);
    border-bottom: 1px solid var(--blue);
    cursor: pointer;
    /* filter: blur(0.25em); */
}

.cloze-show {
    font-weight: bold;
    color: var(--blue);
    border-bottom: 1px solid var(--blue);
    cursor: pointer;
}

.cloze-hide2 {
    font-weight: bold;
    color: var(--yellow);
    border-bottom: 1px solid var(--yellow);
    cursor: pointer;
    /* filter: blur(0.25em); */
}

.cloze-show2 {
    font-weight: bold;
    color: var(--yellow);
    border-bottom: 1px solid var(--yellow);
    cursor: pointer;
}

table {
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ccc;
}

mark.red {
    background-color: red;
}

mark.yellow {
    background-color: yellow;
}

mark.green {
    background-color: green;
}

mark.blue {
    background-color: blue;
}

mark.cyan {
    background-color: cyan;
}

mark.magenta {
    background-color: magenta;
}

.font_red {
    color: red;
}