.card {
    font-family: arial;
    font-size: 20px;
    text-align: left;
    color: black;
    background-color: white;
}

.header{
    font-size: x-large;
    font-weight: bold;
    padding: 8px;
}

.image-container {
    position: relative;
}

img {
    width: 100%;
    height: auto;
    max-width: none;
    max-height: none;
}

.mask-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    opacity: 1;
    pointer-events: none;
}

.overlay {
  position: absolute;
  background: #ff5656;
  opacity: 1;
}

.overlay-second {
  position: absolute;
  background: #ffeba2;
  opacity: 1;
}
