{{#cmds1}}
<div id="extras" class="extras">{{cmds0}} {{cmds1}}</div>

<div id="content" class="content {{Tags}}">
        <div id="bottom" class="top container">
                <div class="main">{{edit:block}}</div>
        </div>
</div>

<div id="content" class="content {{Tags}}">
        <div id="bottom" class="bottom container">
                <div class="main">{{edit:notes}}</div>
        </div>
</div>

<div id="tags">{{clickable:Tags}}</div>
{{/cmds1}}

<div id="anki-am" data-name="Assets by ASSET MANAGER" data-version="2.1">
    <script data-name="Button Toggle" data-version="v0.1">
        var toggle = document.getElementById('toggle')
        var toggleShow = document.getElementById('toggle_show')

        var content = document.getElementById('content')
        var contentShow = document.getElementById('content_show')

        toggle.addEventListener('click', () => {
            content.style.display = 'none'
            contentShow.style.display = 'grid'
        })

        toggleShow.addEventListener('click', () => {
            content.style.display = 'grid'
            contentShow.style.display = 'none'
        })

        document.addEventListener('keyup', (event) => {
            if (event.keyCode === 73 /* 'KeyI' */) {
                const saveDisplay = window.getComputedStyle(content).getPropertyValue('display')
                content.style.display = window.getComputedStyle(contentShow).getPropertyValue('display')
                contentShow.style.display = saveDisplay
            }
        })

    </script>
    <script data-name="Ruby Support" data-version="v0.1">
        function rubySupport(filterManager) {

        const rubyStylizer = closet.Stylizer.make({
          separator: '',
          mapper: (v, i) => i === 0
            ? `<rb>${v}</rb>`
            : `<rt>${v}</rt>`,
          processor: (v) => `<ruby>${v}</ruby>`,
        })

        filterManager.install(closet.recipes.stylize({ 
            tagname: 'rb',
            separator: { sep: '::', max: 2 },
            stylizer: rubyStylizer,
        }))

        }
    </script>
    <script data-name="Flashcard Features" data-version="v0.1">
        function flashcardFeatures(filterManager) {

        filterManager.install(
          closet.recipes.activate({ tagname: 'on', storeId: 'flashcardActive' }),
          closet.recipes.deactivate({ tagname: 'off', storeId: 'flashcardActive' }),
          closet.recipes.activate({ tagname: 'show', storeId: 'flashcardShow' }),
          closet.recipes.activate({ tagname: 'hide', storeId: 'flashcardHide' }),
        )

        }
    </script>
    <script data-name="Closet Setup" data-version="v0.1">
        function closetUserLogic(closet, preset, chooseMemory) {
                const elements = closet.template.anki.getQaChildNodes();
            const memory = chooseMemory("closet__1");
            const filterManager = closet.FilterManager.make(preset, memory.map);

            const output = [[elements, memory, filterManager]];

/** Click to reveal cloze */
const removeObscure = function(event) {
  if (event.currentTarget.classList.contains('cl--obscure-clickable')) {
    event.currentTarget.classList.remove('cl--obscure')
    event.currentTarget.classList.remove('cl--obscure-hint')
    event.currentTarget.classList.remove('cl--obscure-fix')
  }
}

const wrappedClozeShow = closet.wrappers.aftermath(closet.flashcard.recipes.cloze.show, () => {
  document.querySelectorAll('.cl--obscure')
  .forEach(tag => {
    tag.addEventListener('click', removeObscure, {
      once: true,
    })
  })
})

const obscureAndClick = (t) => {
  return [`<span class="cl--obscure cl--obscure-hint cl--obscure-clickable">${t.values[0]}</span>`]
}

const obscureAndClickFix = (t) => {
  return [`<span class="cl--obscure cl--obscure-fix cl--obscure-clickable"><span>${t.values[0]}</span></span>`]
}

const frontStylizer = closet.Stylizer.make({
  processor: v => `<span style="color: cornflowerblue">${v}</span>`,
})

            /* here goes the setup - change it to fit your own needs */

            filterManager.install(
                closet.recipes.shuffle({ tagname: "mix" }),
                closet.recipes.order({ tagname: "ord" }),

  wrappedClozeShow({
    tagname: 'cl',
    frontEllipser: obscureAndClick,
    frontStylizer: frontStylizer,
  }),

  wrappedClozeShow({
    tagname: 'cx',
    frontEllipser: obscureAndClickFix,
    frontStylizer: frontStylizer,
  }),

                closet.flashcard.recipes.cloze({
                    tagname: "c",
                    defaultBehavior: closet.flashcard.behaviors.Show,
                }),
                closet.flashcard.recipes.multipleChoice({
                    tagname: "mc",
                    defaultBehavior: closet.flashcard.behaviors.Show,
                }),
                closet.flashcard.recipes.sort({
                    tagname: "sort",
                    defaultBehavior: closet.flashcard.behaviors.Show,
                }),
            );;;
            return output;
        }

        var getAnkiPrefix = () =>
            globalThis.ankiPlatform === "desktop"
                ? ""
                : globalThis.AnkiDroidJS
                ? "https://appassets.androidplatform.net"
                : ".";

        var closetPromise = import(`${getAnkiPrefix()}/__closet-0.5.3.js`);
        closetPromise
            .then(
                ({ closet }) =>
                    closet.template.anki.initialize(
                        closet,
                        closetUserLogic,
                        "{{Card}}",
                        "{{Tags}}",
                        "back",
                    ),
                (error) => console.log("An error occured while loading Closet:", error),
            )
            .catch((error) =>
                console.log("An error occured while executing Closet:", error),
            );

        if (globalThis.onUpdateHook) {
            onUpdateHook.push(() => closetPromise);
        }
    </script>
</div>